# Python cache
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/

# virtual environments
venv/
env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# environment variables
.env

# misc
.DS_Store
.vscode
.idea
